.navAllign {
  background-color: #9da2ae;
  height: 50px;
  display: flex;
  justify-content: space-between;
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 30px;
}

.nav-link1 {
  color: #293242;
  text-decoration: none;
  font-size: larger;
}

.nav-link1:hover {
  transition: transform 1.9s;
  transform: scale(1.3);
}
